
<% if @user.errors.any? %>
    <div class="alert alert-danger col-md-6 offset-md-3">
        The form contains <%= pluralize(@user.errors.count, 'error') %>.
    </div>
    <div class="col-md-6 offset-md-3 text-danger">
        <ul>
        <% @user.errors.full_messages.each do | msg| %>
            <li><%= msg%></li>
        <% end %>
        </ul>
    </div>
<% end %>

